.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: 0px 30px;

    color: var(--primary-color);

    font-weight: 500;
    font-size: 1.3rem;
}

.itemIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.itemIcon span {
    color: var(--secondary-color-darker);
}

.list a {
    text-decoration: none;
    color: inherit;
}