.container {
    width: 260px;
    height: 265px;

    border-radius: 10px;

    /* Test */
    background-color: #00FF00;
}

.header {
    position: absolute;
    top: 35px;
    left: 35px;
}

.tooltip {
    background-color: #FF0000;
}