/* .chartContainer {
    flex: 0 1 auto;
} */

.line-chart {
    flex-grow: 0;     
    flex-shrink: 1;   
    flex-basis: auto;
}

.container {
    /* width: 260px;
    height: 265px; */
    padding: 20px;

    border-radius: 20px;

    background-color: #00FF00;
    position: relative;
}

.header {
    position: absolute;
    top: 35px;
    left: 35px;
}

.tooltip {
    background-color: #FFFFFF;
}

/* Tooltip */