.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    /* min-height: 100%;
    height: auto;
    height: 100vh; */
}

.welcome {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.greeting {
    color: black;
}

.name {
    color: red;
}

.gn {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-style: medium;
}

.chartContainer {
    margin: 40px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.chartBottomContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
}

.cardList {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: 20%;
    gap: 20px;
}

.chartBox {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.horizontal {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    row-gap: 20px;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
    color: red;
    font-size: 20px;
}