.chartContainer {
    margin: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
}

.cardList {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 20px;
}

.chartBox {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.vertical {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    row-gap: 20px;
}